!= partial('./syllabus/info.html.jade.hbs')
!= partial('./syllabus/email-policy.html.jade.hbs')
!= partial('./syllabus/objectives.html.jade.hbs')
!= partial('./syllabus/course-description.html.jade.hbs')
!= partial('./syllabus/requirements.html.jade.hbs')
