section.info
{{#with course.info}}
  table
    tr 
      td Instructor:
      td <a href="mailto:{{ instructor.email }}">{{ instructor.name }}</a>
    {{#each staff}}
    tr
      td {{ isFirst @index }}
      td {{ this }} 
    {{/each}} 
    tr 
      td Students
      td <a href="./student-assignments.html">Follow this Link</a>
 {{/with}}

