---
layout: default
---
!= partial('./scripts.html.jade')
script(src='./vendor/d3/d3.js')
script(src='https://cdn.firebase.com/v0/firebase.js')

script.
  $(document).ready(function(){
    // set the datastore
    // var db = new Firebase("https://ast2014.firebaseio.com/students/"); 
  });
