---
layout: default
---
style.
  .florian {
     float: left;
  }
  .juul {
    float: right;
    margin-right: -10px;
  }

div.patjad
  h1 Patty and Jade

div.juul
  h1 Juul

div.florian
  h1 Florian

!= partial('./scripts.html.jade')
script(src='./vendor/jquery.mockjson.js')
script(src='./vendor/d3/d3.js')
script(src='./4-patty-jade.js')
script(src='./4-florian.js')
script(src='./4-juul.js')
