---
layout: default
---

table
  thead
    tr
      th first name
      th last name
      th 1
      th 2
      th 3
      th 4
      th 5
      th 6
      th 7
      th 8
  tbody

!= partial('./scripts.html.jade')
script(src='./vendor/d3/d3.js')

script.
  // var
  //   return Math.random()<.5;
  // }

  $(document).ready(function(){
    var students = [];

  //   d3.csv('./students.csv', function(d){
  //     students = d.map(function(student){
  //       var assignments = [];

  //       for (var i = 0; i < 8; i++) {
  //         assignments[i] = "";
  //       }

  //       return {
  //         firstName: student['First Name'],
  //         lastName: student['Last Name'],
  //         studentId: student['Student ID'],
  //         assignments: assignments
  //       };
  //     })

  //     var studentsJSON = JSON.stringify(students);
  //     localStorage.setItem('students', studentsJSON);
  //     draw();
  //   });
    d3.json("https://ast2014.firebaseio.com/students.json", function(d){
      students = d.filter(function(student) {
        return student;
      });
      draw();
    });

    var rawHTML = "<td>{{firstName}}</td><td>{{lastName}}</td>{{#each assignments}}<td>{{#if this}}<a href='{{this}}'>X</a>{{else}}_{{/if}}</td>{{/each}}</td>";
    var template = Handlebars.compile(rawHTML);

    function draw() {
      d3.select('tbody')
        .selectAll('tr')
        .data(students)
        .enter()
        .append('tr')
        .html(function(d){
          return template(d);
        })
    };
  });

