---
layout: default
---

article.syllabus
  != partial('./syllabus/header.html.jade.hbs')
  != partial('./syllabus/general.html.jade') 
  != partial('./syllabus/schedule.html.jade.hbs')
!= partial('./scripts.html.jade')
