---
layout: default
---

!= partial('./scripts.html.jade')
script(src='./vendor/jquery.mockjson.js')
script(src='./vendor/d3/d3.js')
script.
  $(document).ready(function(){
    var eventsTemplate = {
      "events|5-20": [{
        "name|1-2": "@LOREM ",
        "rating|1-5": 0,
        "ficticious|0-1": true,
      }]
    };

    var events = $.mockJSON.generateFromTemplate(eventsTemplate);
    var eventsJSON = JSON.stringify(events);  
    localStorage.setItem("assignment", eventsJSON);
  });

