---
layout: default
---
style.
  .graph {
    width: 800px;
    margin-bottom: 10px;
  }
  table {
    width: 800px;
  }

  .axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
   }

   .axis text {
     font-family: sans-serif;
     font-size: 11px;
   }
div.graph
table
  thead
    tr
      th first name
      th last name
      th 1
      th 2
      th 3
      th 4
      th 5
      th 6
      th 7
      th 8

!= partial('./scripts.html.jade')
script(src='./vendor/d3/d3.js')
script(src='https://cdn.firebase.com/v0/firebase.js')
script(src='./barchart.js')
script(src='./table.js')

script.
  $(document).ready(function(){
    var students = [];
    var db = new Firebase("https://ast2014.firebaseio.com/students/");

    var tableContainer = d3.select('table');
    var table = d3.chart.table();

    var chartContainer = d3.select('.graph');
    var chart = d3.chart.barChart();

    var isInitialized = false;

    db.on('value', function(d) {
      students = d.val().filter(function(student) {
        return student;
      });

      students.forEach(function(student){ 
        var numberOfAssignments = 0;
        student.assignments.forEach(function(assignment){
          if (assignment) {
            numberOfAssignments += 1;
          }
          return numberOfAssignments;
        });
        student.numberOfAssignments = numberOfAssignments;
      });

      table.data(students);
      table(tableContainer);
    
      chart.data(students);
      if(!isInitialized) {
        chart(chartContainer);
        isInitialized = true;
      } else {
        chart.update();
      }
    });

    table.on("hover", function(d){
      chart.highlight(d);
    });

    chart.on("hover", function(d){
      table.highlight(d);
    });

  });
